/* mon-blog/src/pages/SearchPosts.css */

.search-posts-container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 14px 20px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Arial', sans-serif;
}

.search-title {
    text-align: center;
    color: #FFF;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filters input,
.filters select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.filters input:focus,
.filters select:focus {
    border-color: #007bff;
    outline: none;
}

.posts-summary {
    margin-top: 20px;
}

.posts-summary ul {
    list-style-type: none;
    padding: 0;
}

.post-item {
    background: #f1f1f1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.post-item:hover {
    transform: translateY(-5px);
}

.post-item h3 {
    margin-top: 0;
    color: #FFF;
}

.post-item p {
    color: #FFF;
    font-size: 1em; /* Augmenter la taille de la police */
    padding: 5px 0 5px 0; /* Espacement autour du texte */
}

.post-item .post-meta {
    font-style: italic;
    color: #888;
    margin-top: 10px;
}

.post-item .read-more-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.post-item .read-more-link:hover {
    background-color: #303236;
}

.post-item .delete-post-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-item .delete-post-button:hover {
    background-color: #c82333;
}

.read-more-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.read-more-link:hover {
    background-color: #0056b3;
}

.sort-options {
    margin-bottom: 20px;
    text-align: center;
}

.sort-options label {
    font-size: 16px;
    color: #333;
}

.sort-options select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.loading-bar-container {
    width: 100%;
    background-color: #303236;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .loading-bar {
    width: 0%;
    height: 20px;
    background: linear-gradient(90deg, #1a1a1a, #ffffff, #616161, #ffffff);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite, loadingAnimation 1s linear;
    border-radius: 10px;
    transition: width 0.5s ease;
  }
  
  @keyframes loadingAnimation {
    0% { width: 0%; }
    100% { width: 100%; }
  }
  
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }